include LICENSE
include README.md
recursive-include xplugin_config/templates *
recursive-include xplugin_config/templatetags *
recursive-include xplugin_config/static *
recursive-include xplugin_config/locale *